
.all-option-wrap {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.option-toogle {
    background:var(--primary-gradient2);
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    left: 0;
    top:0;
    position: absolute;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
    z-index: 99;
    transform: translateX(-165px);
    transition: all .3s ease-in-out;
}

.all-option {
    padding: 40px 0px 40px 50px;
    background-color: var(--white);
    border: 1px solid var(--option-border);
    box-shadow: 0px 10px 30px var(--option-shadow);
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    a {
        display: block;
        padding-right: 80px;
        font-size: 18px;
        line-height: 46px;
        color: var(--option-color);
        transition: all .3s ease-in-out;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            height: 5px;
            width: 0px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px 0px 0px 5px;
            right: 0;
            background:var(--primary-gradient2);
            opacity: 0;
            transition: all .3s ease-in-out;
        }
        &:hover:before {
            width: 40px;
            opacity: 1;
        }
        &.active {
            &::before {
                width: 40px;
                opacity: 1;
            }
        }
        &:hover, &.active {
            color: var(--primary);
        }
    }
}



// Responsive 
@media screen and (max-width: 1550px){
    .all-option {
        transform: translateX(0px);
        transition: all .3s ease-in-out;
        top: 100px;
        opacity: 1;
        visibility: visible;
        top: 60px !important;
        height: calc(100vh - 60px);
        overflow-y: auto;
        &.active {
            transform: translateX(-270px);
            opacity: 0;
            visibility: hidden;
        }

    }
    .option-toogle {
        transform: translateX(0px);
    }
    .typography-wrap, .card-wrapper ,.progress-bar-wrapper,.image-wrapper,.video-wrapper,.carousel-wrapper,.input-field-wrapper,.pegination-wrapper,.alert-wrapper,.nab-tab-wrapper,.short-counter-wrapper,.coin-exchange-wrapper,.testimonial-wrapper,.st-team-wrapper,.live-chart-wrapper{
        margin-left: 0px !important;
        margin: 0 auto !important;
    }
}


